<div class="phub-shell" [class.phub-shell-redesign]="redesignV1">
  <div class="phub-overlay" *ngIf="mobile && drawerOpen" (click)="closeDrawer()"></div>

  <app-phub-sidebar
    [title]="appTitle"
    [subtitle]="appSubtitle"
    [menuItems]="menuItems"
    [redesignV1]="redesignV1"
    [open]="sidebarOpen"
    [mobile]="mobile"
    [profileName]="profileName"
    [profileSubtitle]="profileSubtitle"
    [themeToggleEnabled]="darkModeEnabled"
    (closeDrawer)="closeDrawer()"
    (navigate)="closeDrawer()"
    (logout)="logout.emit()"
  ></app-phub-sidebar>

  <div class="phub-main">
    <app-phub-topbar
      [title]="topbarTitle"
      [tenantBadgeText]="tenantBadgeText"
      [userName]="userName"
      [userSubtitle]="userSubtitle"
      [redesignV1]="redesignV1"
      [mobile]="mobile"
      (menuToggle)="toggleDrawer()"
    ></app-phub-topbar>

    <div class="phub-content">
      <div class="phub-content-inner">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
